
body{
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: 16pt;
  font-style: normal;
  background-image: url(travel3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  display: flex;
  
  
}  

.login{
  font-size: 20pt;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}
span{
  text-align: center;
}
.myform [type='text'], [type='password']{
  width: 100%;
  background-color:transparent;
  border-bottom: #3fb6b2 2px solid;
  outline: none;
  font-family: cursive;
  font-size: 16px;
  font-weight: normal;
  color: rgb(8, 8, 8);
 
  
}

/*
.myform [type='text']{
  background-image: url('pic.jpg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;
}
*/
.myform [type='submit'], [type='reset']{
  width: 40%;
  border: none;
  padding: 5px;
  background-color: #3fb6b2;
  color: #fff;
  margin-top: 40px;
  font-family: cursive;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  
 
}

.myform [type='submit']{
  float: right;
}

.myform [type='reset']:hover{
  background-color: #2a63b8;
  color: #fff;
  
}

.myform [type='submit']:hover{
  background-color:#2a63b8;
  color: #fff;
}

/*
.myform [type='text']:focus{
  background-color:#21e49c;
   
  
}

.myform [type='password']:hover{
  background-color:#21e49c
}


 .container{
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  padding: 50px 20px 50px 20px;
}
*/
 

input{
  border: none;
  border-color: white;
  padding-top: 30px;
  margin: 5px;
  width: 100%;
  height: 100%;
 
  
}
fieldset legend{
  width: fit-content;
  color: #111111;
  text-align: center;
  font-weight: bolder;
  overflow: hidden;
  
}
fieldset legend img{width: 90px;
  height: 90px;

}

fieldset{
  border: solid 2px #3fb6b2;
  width: 100%;
  padding: 15px 20px 50px 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  opacity: none;
  margin-bottom: 10px;
  

}

::placeholder{ 
  text-align: left; 
  font-family: cursive;
  font-size: medium;
  width: 100%;
  color: rgb(31, 29, 29);
}
.center{
  position: relative;
  margin:0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%, -50%);
}

.forgot{
  display: block;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: small;

}
 #account{
   display: block;
   padding: 5px;
   margin-top: 20px;
   text-decoration: none;
   text-align: center;
   font-size: small;
 }
 a{
   text-decoration: none;
   color: #3fb6b2;
 }
 a:hover{
   color: royalblue;
 }


 .forgot1{
  display: block;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  font-size: 1.7em;

}
